# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sheena}
- {Sylvia}
- {Jenny Chew}

## Tasks

1. {Find out health benefits about Echinacea}
2. {Find the recipe for White herb salad}
3. {Click on health related article on home page}

---

## Individual Results & Observations

### {Sheena Ravary}

- {She clicked on the link as expected…}
- {Had no problem finding the health article on home page}
- {Easily found proper recipe as requested to find}
- {Easily found specific herb and it's health benifits}


### {Sylvia McCauley}

- {She clicked on the link as expected…}
- {Like Sheena, Sylvia easily found her way around}

### {Jenny Chew}

- {She clicked on the links as expected…}


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Sylvia mentioned a few spelling errors}
- {Sheena mentioned not haveing the text span across the screen on larger screen sizes}

### Serious, Causes Frustration, May Hinder Completion

- {Everything was pretty straightforward they easily navigated around}

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.