@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

/* Reset Your Margins and Padding, target all your element tags that you are using */
* {
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
    box-sizing: border-box;

	margin:0;
	padding:0;
}

.logo {
	margin:0 auto;
	text-align:center;	
}

.logo img {
	width:340px;
	height:150px;	
	
}


.unit-l-4-4 img {
  	display: none;
  }


.list-group-item-inline{
	display:inline-block;
	float:left;
	list-style-type:none;
}

.social-media {
	text-align:center;	
}

.social-media ul {
	display:inline-block;	
}

.social-media li{
	margin: 6px;
}

.list-nav-item{
	list-style-type:none;
}

.nav-wrapper {
	text-align:center;
	clear:left;
	font-size:1.25em;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1em;
}


.intro{
	background-color:#CF6;
	text-decoration:none;
	padding:1.5em;
}

.intro h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #58585B;
	
}

.intro p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #58585B;
	
}

.about{
	display: inline-block;
	background-color: #58585B;
	text-decoration:none;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1.5em; 
}

.about h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6em;
	color: #FFF;
	padding-bottom: 0.5em;
	
}

.about p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #FFF;
	
}

footer {
	text-align:center;
	background-color: #8CA03D;
	margin-top: 35px;
	padding: 1.5em;

}

footer p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #FFF;
	padding: 0;

}



@media only screen and (min-width: 38em) {
 

 
  
  .social-media{
	  float: right;
	  display:inline block;
  }
  
  .logo {
		display:inline-block;
		float:left;  
  }
  
  .list-nav-item-inline {
		display:inline-block;
		float:left;
		margin:2em;  
  }


  .unit-l-4-4 img {
  	display: block;
  	width:100%;
  }
  
}
