@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }




/* Reset Your Margins and Padding, target all your element tags that you are using */
* {
	 -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
	margin:0;
	padding:0;
}

.logo {
	margin:0 auto;
	text-align:center;	
}

.logo img {
	width:340px;
	height:150px;	
	
}

.flex-img {
	width:100%;
}


.list-group-item-inline{
	display:inline-block;
	float:left;
	list-style-type:none;
}

.social-media {
	text-align:center;	
}

.social-media ul {
	display:inline-block;	
}

.social-media li{
	margin: 6px;
}

.list-nav-item{
	list-style-type:none;
}

.nav-wrapper {
	text-align:center;
	clear:left;
	font-size:1.25em;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1em;
}


h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:2em;
	color: #58585B;
	
}

.about{
	background-color:#CF6;
	text-decoration:none;
	padding:2em;
}


.about figure {
	display:none;	
}

footer {
	text-align:center;
	background-color: #ccc;
	margin-top: 35px;
	padding: 0;

}

.footer p{
	padding: 0;
}



@media only screen and (min-width: 38em) {
 

.about figure {
	display:inherit;
}

 .about {
	  clear:left;
  }

.about img{
	display:float;
	width: 100%;
}
 
  
  .social-media{
	  float: right;
	  display:inline block;
  }
  
  .logo {
		display:inline-block;
		float:left;  
  }
  
  .list-nav-item-inline {
		display:inline-block;
		float:left;
		margin:2em;  
  }


  .unit-l-4-4 img {
  	width:100%;
  }
  
}
