.icon{
	display: inline-block;
	background: transparent none no-repeat left top;
	background-size: contain;
	vertical-align: middle;
	
}

.i-32{
	width:32px;
	height: 32px;
	padding:0.5em;
	
}


.icon-link{
	text-decoration: none;
	color: 66f;
}

.i-facebook{
	background-image: url(../img/i-facebook.svg)
}
	

.i-twitter{
	background-image: url(../img/i-twitter.svg)
}

.i-pinterest{
	background-image:url(../img/i-pinterest.svg)
}

.icon-text{
	border-bottom: 1px solid rgba (102, 102, 255, 0.5);
	
}

.i-facebook:hover {
	background-image:url(../img/i-facebookhover.svg);
}

.i-twitter:hover {
	background-image:url(../img/i-twitterhover.svg);
}

.i-pinterest:hover {
	background-image:url(../img/i-pinteresthover.svg);
}

