---
title: recipes
layout: default
---

	

	
	<div class="grid border">
			
			<div class="categorylist unit unit-s-1 unit-m-1-2 unit-l-1-2">
							
							<h2>Recipes</h2>

								<ul class="recipe-list">
									{% for recipe in site.pages %}
										{% if recipe.category == "Recipes" %}
											<li>
												<a href="{{recipe.url}}">
													<img src="{{site.baseurl}}/img/recipes/{{recipe.thumb}}" alt="">
													{{recipe.title}}
												</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
					
				</div>

		
	</div>
			

			
			