<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- Facebook -->
<meta property="og:type" content="article">
<meta property="og:title" content="Herbs · Making meals tasty and keeping you healthy">
<meta property="og:url" content="http://celtariden.github.io/large-data-website">
<meta property="og:image" content="http://placehold.it/200X200">
<!-- Image size: minimum of 200X200, recommend 1500X1500-->
<meta property="og:description" content="Making meals tasty and keeping you healthy; Ottawa, Canada.">
<meta property="og:site_name" content="Herbs">
<!-- Twitter-->
<meta property="twitter:card" content="sumamry">
<meta property="twitter:title" content="Herbs · Making meals tasty and keeping you healthy">
<meta property="twitter:url" content="http://celtariden.github.io/large-data-website">
<meta property="twitter:image" content="http://placehold.it/200X200">
<!-- Image size: 120X120 at least -->
<meta property="twitter:description" content="Making meals tasty and keeping you healthy">
<!-- Pinterest -->
<meta property="og:type" content="article">
<meta property="og:title" content="Herbs · Making meals tasty and keeping you healthy">
<meta property="og:url" content="http://celtariden.github.io/large-data-website">
<meta property="og:image" content="http://placehold.it/200X200">
<!-- Image size: minimum of 200X200, recommend 1500X1500-->
<meta property="og:description" content="Making meals tasty and keeping you healthy; Ottawa, Canada.">
<meta property="og:site_name" content="Herbs">
<title>{% if page.title %}{{page.title}} · {% endif %}Herbs </title>
<link href="{{site.baseurl}}/css/skiplinks.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<meta name="description" content="home">
<meta name="handheldfriendly" content="true">
<meta name="mobiloptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1, target-densitydpi=device-dpi">

</head>

<body>

<ul class="skiplinks">
	<li><a href="#main">Skip to primary conent</a></li>
	<li><a href="#navigation">Skip to main navigation</a></li>
</ul>


	<div class="container">

		<header role="banner">

			<div class="header-top">
				<div class="herbs-logo">
					<h1><a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/herbslogo.svg" class="logo-img" alt="Herbs Logo"></a></h1>
				</div>
				
				<div role="complimentary" class="social-media">
					<ul>
						<li class="list-group-item list-group-item-inline">
							<a href="#" class="icon i-32 i-twitter image-replacement">
								Twitter
							</a>
						</li>
						
						<li class="list-group-item list-group-item-inline">
							<a href="#" class="icon i-32 i-facebook image-replacement">
								Facebook
							</a>
						</li>
						
						<li class="list-group-item list-group-item-inline">
							<a href="#" class="icon i-32 i-pinterest image-replacement">
								Pinterest
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<nav role="navigation" class="header-bottom">
				<ul class="nav-list">
					<li class="nav-list-item"><a href="{{site.baseurl}}/">Home</a></li>
					<li class="nav-list-item"><a href="{{site.baseurl}}/history/">History</a></li>
					<li class="nav-list-item"><a href="{{site.baseurl}}/health/">Health</a></li>
					<li class="nav-list-item"><a href="{{site.baseurl}}/recipes/">Recipes</a></li>
					<li class="nav-list-item"><a href="{{site.baseurl}}/diy/">DIY</a></li>
					<li class="nav-list-item"><a href="{{site.baseurl}}/gardening/">Gardening</a></li>
				</ul>
			</nav>
			
		</header>

			<main role="main" id="main">{{content}}</main>

		<footer role="contentinfo">
			
			<p>The information on this site is intended for educational purposes only and is 
			not a substitute for the advice of a qualified healthcare professional. &copy; 2013 Celta Riden Designs.</p>
			
		</footer>

	</div>

</body>
</html>
